<header class="header">
  <div class="header__container">
    <svg-icon class="header__logo" src="assets/test-logo.svg"></svg-icon>

    <div class="header__actions">
      <nav id="links" class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-item">Link 1</li>
          <li class="header__nav-item">Link 2</li>
          <li class="header__nav-item">Link 3</li>
        </ul>
      </nav>

      <button type="button" class="header__button">Sign up</button>
    </div>
  </div>
</header>
