@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$font-roboto: 'Roboto', sans-serif;

$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

$font-size-extra-large: 70px;
$font-size-medium: 20px;
$font-size-small: 16px;
$font-size-less-small: 14px;
