<div class="promo">
    <svg-icon class="promo__decoration" src="assets/rectangular-decoration.svg"></svg-icon>
  <div class="promo__container">
    <div class="promo__text">
      <div class="promo__title">It’s hard to stay connected alone.</div>
      <div class="promo__message">
        Every conversation needs a partner.<br />
        That’s why Va1e7ia corp is here to accompany you in building seamless connections.<br />
        Whoever you are:
      </div>
    </div>
    <ul class="promo__list">
      <li class="promo__item">Student</li>
      <li class="promo__item">Remote Worker</li>
      <li class="promo__item">Global Traveler</li>
    </ul>
    <button class="promo__button">Choose Your Plan</button>
  </div>
  <svg-icon class="promo__image"src="assets/promo-img-v2.svg"></svg-icon>
</div>
